<html>
<head>
<style>
    /* unvisited link */
a:link {
    color: red;
}

/*  */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}
</style>
  </head>
    <body>

    <p><b><a href="https://www.youtube.com/watch?v=Dxcc6ycZ73M" target="_blank">Click on me!!!</a></b></p>
                                                                                                        <p><b>

                                                                                                        </body>
                                                                                                          </html>

